*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*/.vs/
*.tlog
*/x64
ScreenDrawDesktop/ScreenDraw.log
*/bin/
.dll
.cache
.pdb
.lref

drawable - Shortcut.lnk
ScreenDraw.log
