*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
*/.vs/
*.tlog
.dll
.cache
.pdb
.lref

drawable - Shortcut.lnk
ScreenDraw.log
ScreenDrawDesktop/ScreenDraw.log

ScreenDrawDesktop/Debug
GarbageScreenDrawDesktop/obj

ScreenDrawDesktop/x64/Debug/*
ScreenDrawDesktop/x64/Release/*
!ScreenDrawDesktop/x64/Release/ScreenDrawDesktop.exe

GarbageScreenDrawDesktop/bin/Debug/net5.0-windows/*
!GarbageScreenDrawDesktop/bin/Debug/net5.0-windows/ScreenDrawDesktop.exe
release - Shortcut.lnk
